[Unit]
Description=Operation Imladris
After=network.target

[Service]
ExecStart=/home/squog/Documents/imladris/service_test.py
Restart=Always
WorkingDirectory=/home/squog/Documents/imladris
User=squog
Group=squog

[Install]
WantedBy=multi-user.target
